@media (max-width: 600px) {

	main, header, footer {
		margin-left: 0;
		padding: 7%;
	}

	/*Стили для меню*/

	nav {
		position: static;
		width: 100%;
		text-align: center;
		border-radius: 0 0 15px 15px;
		padding-bottom: 15px;
	}
	nav h2 {
		font-size: 40px;
		padding: 0;
		width: 100%;
	}
	nav ul {
		margin-top: 40px;
		padding-left: 0px;
	}
	nav li {
		margin: 0 auto 15px;
		height: 5%;
		border-bottom: solid silver 3px;
		width: 70%;
		padding: 5px;
	}

	/*Стили для секции 3*/

	.people {
		display: block;
		margin: 0;
		width: 100%;
	}
	.box {
		margin: 0 auto;
		width: 96%;
		margin-bottom: 20px;
	}

	/*Стили для секции 4*/

	.packages {
		display: block;
	}
	.packages ul {
		margin: 20px 0;
		width: 100%;
	}
}

@media (min-width: 601px)and (max-width: 900px) {

}